* {
    margin: 0;
    padding: 0;
    outline: none; 
    border:none;
    font-family: Kanit !important;
    box-sizing: border-box;
}

/** CSS navbar always top  **/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/** Logo **/
.logo {
    margin-top: 3px;
    height: 50px;
    margin-left: 30px;
    margin-right: 20px;
}


/* navbar สีชมมพู  */
.custom-pink-dropdown {
    background-color: purple;
}
.custom-pink-navbar,
.custom-pink-container{
    background: linear-gradient(to bottom, purple, rgb(69, 0, 69) );
}
.custom-pink-footer{
    background: linear-gradient(to bottom, purple, rgb(69, 0, 69) );
}

nav div ul li a {
    margin: 0 9px;
}

/* dropdown bg pink */ 
nav div .custom-pink-navbar {
    background-color: purple;
    color: white;
}

.custom-pink-dropdown li a{
    color: white;
}
div #navbarSupportedContent ul li a {
    font-size: large;
    border-radius: 5px;
}

.btn-bold {
    font-weight: bold;
    letter-spacing: 0.2pt;
}

.container-item{
    margin-top: 6.5% !important;
}

.card {
    scale: 1.225;
    cursor: pointer;
    margin-bottom: 40px;
    border-left: rgb(69, 0, 69) 7px solid;
    border-right: rgb(69, 0, 69) 7px solid;
    border-bottom: rgb(69, 0, 69) 7px solid;
    border-radius: 0;
}


/* navbar bg yellow เมื่อ:hover */
nav div #navbarSupportedContent ul li a:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 1px 2px 12px #b98c03;
    background-color: #ebb102;
    margin: 0 15px;
}

/*  nav dropdown อักษรสีดำ เมื่อ hover */
.navbar-nav .nav-item.dropdown .nav-link, #navbarDropdown:hover {
    color: black;
}
#navbarDropdown, .custom-nav-level2{
    color: #ebb102;
}
#time-out:hover{
    color: white;
    border-bottom: 1px solid white;
}
.dropdown-menu {
    border-top: 4px solid #ebb102;
}

.img-pointer {
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 35px;
}
.img-pointer:hover{
    scale: 1.1;
    transition: 0.3s ;
    border: solid 9px cyan;
    outline: solid aquamarine 8px;
}

/***  รายรับ-รายจ่าย button menu***/
.bg-yellow a button{
    background-color: rgb(255, 200, 0);
    color: black;
    transition: 0.4s ease;
    border-radius: 1px;
    text-shadow: rgb(231, 151, 2) 1px 2px 1px;
}
.bg-yellow a button:hover {
    background-color: rgb(228, 156, 0); 
    color: white;
    margin: 0 13px;
    transition: 0.3s;
    text-shadow: #b97903 1px 2px 4px;
    box-shadow: 0 1px 12px rgb(255, 255, 42);
    border-bottom: white 3px solid;
    transform: translateY(-1px);

}
.bg-yellow a button:active {
    background-color: rgb(241, 168, 10); 
    color: rgb(57, 37, 0);
    border: none;
    outline: none;
}/***  รายรับ-รายจ่าย button menu end ***/

.form-select{
    cursor: pointer;
}

/** ปุ่มบันทึก **/
#insert-btn {
    color: white;
    transition: 0.4s ease;
    border-radius: 4px;
    text-shadow: rgb(0, 56, 0) 1px 1px 5px;
}
#insert-btn:hover {
    color: white;
    text-shadow: rgb(0, 27, 0) 1px 2px 9px;
    transition: 0.3s ease;
    scale: 1.07;
}
.custom-pink-container form{
    padding: 0 14rem;
}
#otherCategory{
    margin-top: 5px;
}
form #startdate, #enddate{
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 3px;
}
.custom-pink-container form label{
    margin-left: 10px;
}
#datepicker{
    padding: 0 ;
}
.btn-success{
    margin-left: 10px;
}
#summ{
    color: yellow;
}

#card-2{
    border: solid 11px aquamarine;
    outline: aqua solid 8px;
    scale: 1;
    margin-top: 10px;
    border-radius: 0;
}
#paragraph-1{
    color: rgb(11, 34, 106);
    background-color: #c9ffff;
    border: #c9ffff solid 65px;
    margin-bottom: 8px;
}
.btn btn-info{
    margin-left: 20px;
    color: darkblue;
}
.custom-btn-blue {
    margin-left: 30px;
    margin-top: 13px;
    border-radius: 5px;
    background: linear-gradient(to right, #3b5ffd, #58f9f9);
    color: white;
    text-shadow: rgb(44, 60, 87) 1px 1px 5px;
}
.custom-btn-blue:hover{
    color: white;
    transition: 0.2s ease-in-out;
    box-shadow: aquamarine 2px 2px 12px;
    scale: 1.08;
    text-shadow: none;
    border: #58f9f9 solid 1px;
}

/** กรอบฟอร์มติดต่อ **/
.container-form{
    border: 6px solid rgb(69, 0, 69) ;
    border-radius: 20px;
    box-shadow: 10px 10px 10px gray;
}

div .card-header {
    background: linear-gradient(to bottom, purple, rgb(69, 0, 69) );
    color: white;
    border-radius: 10px !important;
    padding: 8px;
}

.card-header h3 {
    text-align: center;
}

.card-body {
    justify-content: center;
}

textarea {
    border: 2px solid lightgray;
}

.msg {
    width: 100%;
    height: 100px;
}

.btn-sub {
    width: 100%;
    height: 50px;
    margin: 30px auto;
    border-radius: 10px;
    font-size: large;
    background-color: violet;
}

.btn-sub:hover {
    background-color: purple;
    transition: .3s;
    color: white;
}

.or {
    text-align: center;
}

.information {
    text-align: center;
    margin-top: -20px;
}

.information ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.alert {
    text-align: center;
}

/**  ส่วนของ footer start **/
footer div ul li a {
    color: rgb(255, 187, 0);
    letter-spacing: 0.2pt;
    text-decoration: none;
}

footer div ul li a:hover {
    color: white;
    transition: 0.1s ease;
    border-bottom: 2px solid white;
    text-shadow: none;
}

footer div ul li a:active{
    color: yellow;
    font-size: small;
    transition: 0.1s;
}

footer {
    clear: both;
}

footer div ul li {
    margin: 0 16px;
}/**  ส่วนของ footer end **/

/*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  .chefs-bg {
    background: linear-gradient(to bottom, rgb(39, 2, 39), rgb(16, 0, 16) );
    color: white;
    padding: 50px;
    cursor: pointer;
}
  .chefs .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
  }
  
  .chefs .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  
  .chefs .member .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
  }
  
  .chefs .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  
  .chefs .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  
  .chefs .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 50px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
  }
  
  .chefs .member .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
  }
  
  .chefs .member .social a:hover {
    color: #ebb102;
  }
  
  .chefs .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
  .chefs .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
  }
  
  .chefs .member:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
  }
  
  .chefs .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
  }
  

/***  play-btn  ***/
#hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#e0aa15 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

#hero .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
    border-left: 15px solid #e0aa15;
    transform: scale(20);
}

#hero .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero .play-btn {
        margin-top: 30px;
    }
}

@media (max-height: 500px) {
    #hero {
        height: auto;
    }

    #hero .container {
        padding-top: 130px;
        padding-bottom: 60px;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
/***  play-btn  ***/

