*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Kanit !important;
}
.logo{
    padding-bottom: 3px;
    padding-right: 10px;
}
.custom-pink-navbar {
    background-color: #ff69b4;
}
.custom-pink-footer {
    background-color: #ff69b4; 
}
nav div ul li a{
    margin: 0 10px;
}
nav div .custom-pink-navbar {
    background-color: #ff69b4; 
    color: white; 
}
div #navbarSupportedContent ul li a{
    font-size: large;
}

footer div ul li a{
    color: #ffcf3e;
}

footer div ul li a:hover{
    color: whitesmoke; 
    transition: 0.1s;
    text-shadow: 2px 4px 15px rgb(255, 221, 50);
    padding-top: 30px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 30px;
}

footer{
    clear: both;
}
footer div ul li{
    margin: 0 15px;
}

div .card {
    width: 100%;
    margin: 50px 0 !important;
}

/* navbar bg yellow เมื่อ:hover */
div #navbarSupportedContent ul li a:hover{ 
    transition: 0.3s;
    box-shadow: 1px 2px 12px #b98c03;
    background-color: #ebb102;
    border-radius: 4px;
    margin: 0 15px;
}

/*  ตัวอักษรเป็นสีดำเมื่อ:hover  */
.navbar-nav .nav-item.dropdown:hover .nav-link {
    color: black;
}
