*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Kanit !important;
}
.custom-pink-navbar {
    background-color: #ff69b4;
}
.custom-pink-footer {
    background-color: #ff69b4; 
}
nav div ul li a{
    margin: 0 10px;
}
nav div .custom-pink-navbar {
    background-color: #ff69b4; 
    color: white; 
}

footer div ul li a{
    color: #ffcf3e;
}

footer div ul li a:hover{
    color: whitesmoke; 
    transition: 0.1s;
    text-shadow: 3px 5px 11px rgb(215, 180, 1);
    padding-top: 30px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 30px;
}

footer{
    clear: both;
}
footer div ul li{
    margin: 0 15px;
}

.card{
    width: 100%;
    margin: 0 !important;
}
div ul li:hover{ 
    transition: 0.3s;
    box-shadow: 1px 2px 12px #b98c03;
    background-color: #ebb102;
    border-radius: 4px;
    margin: 0 15px;
}

.navbar-nav .nav-item.dropdown:hover .nav-link {
    color: black;
}
